# AMD define
snippet def
	define( [ '${1:1st dependency}' ], function( $1 ){

		// public api /////////////////////////////////////////////////////////////
		return {
			
		};
	});
# AMD require
snippet req
	require( [ '${1:1st dependency}' ], function( $1 ){
		
	});
